body{
    background-color: lightgray;
    margin-top: 50px;
}

.todo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:cadetblue;
}

.todo-container h1 {
    text-align: center;

}

.todo-container ul {
    padding: 0px;

}

.todo-container input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

.todo-container button {
    padding: 10px 20px;
    margin-left: 10px;
}

.todo-item {
    display: flex;
    align-items:center;
    margin-bottom: 5px;
    justify-content: space-between;
    background-color: aquamarine;
    text-align: left;
}

.todo-item button {
    margin-left: 10px;

}
